.navbar {
  width: 100%;
  height: 70px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);

  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-left: 150px;
}

.menu {
  display: flex;
  align-items: center;
}

.adminBtn {
  padding: 8px 18px;
  background-color: #0070f3;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-right: 150px;
  transition: 0.2s;
}

.adminBtn:hover {
  background-color: #005ac1;
}
